body{
   background-image: url(banner-our-food.jpg);
   background-repeat: no-repeat;
   position:absolute;
   z-index: 0;
   height: 100vh;
}

.mycontainer{
    position:relative;
    margin-top: 30%;
    padding: 20px;
    background-color: rgb(93, 109, 126, 0.5);
    width:100%;
    margin-left: 10%;
    border-radius: 30px;
    z-index:1;
}

.mynotice{
    top:90%;
    width:100%;
}

